<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <title>Rafi Banquet Hall| Bookings </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">



        <link rel="stylesheet" href="{% static 'css/booking1.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'css/employee.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'css/info1.css' %}" type="text/css" media="all" />


        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" type="text/css" media="all">
        <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">


        <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>

         <script src="{% static 'js/info1.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
         <script src="{% static 'js/Cal.js' %}"></script>
        <script src="{% static 'js/time.js' %}"></script>

    </head>
    <body>


        <div id="Daily_Expenses" class="modal fade" role="dialog"  data-backdrop='static'>
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Daily Expenses</h4>
                    </div>
                    <div class="container">
                        <div class="modal-body">

                            <div class="col-md-7 expense-form">
                                <div class="form-container">
                                    <form action="{% url 'realapp:add_daily_expense' %}" method="post">
                                        <input type="text" name="date" value="{{expense_date}}" placeholder="Date" required="">
                                        <br><br>
                                         <input type="text" name="expense_title" value="{{expense_title}}" placeholder="Title" required="">
                                        <input type="number" min="0" class="email" name="expense_amount" value="{{expense_amount}}" placeholder="Amount" required=""><div class="clearfix"></div>
                                        <textarea placeholder="Details" name="details" required=""></textarea><div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-sm-offset-3 col-sm-4">
                                                <input type="submit" class="btn-block" value="SUBMIT">
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default cancel-btn" href="{% url 'realapp:Gen_Expense' %}">View All</a>
                        <button data-toggle="modal" class="btn btn-default cancel-btn"
                                data-dismiss="modal">Cancel </button>
                    </div>
                </div>


            </div>
        </div>




        <!-- banner -->
        <div class="banner-top jarallax">
            <div class="header-top">
                <div class="container">
                    <div class="header-top-grids">
                        <div class="header-top-left">
                            <p><i class="fa fa-volume-control-phone" aria-hidden="true"></i> 042-3854712</p>
                        </div>
                        <div class="header-top-right">
                            <div class="social-grids">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                </ul>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="head">
                <div class="container">
                    <div class="navbar-top">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-brand logo ">
                                <h1><a href="{% url 'index' %}">Rafi<span>Banquet Hall</span></a></h1>
                            </div>

                        </div>

                         <br><br><br><br><br><br>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav link-effect-4">
                                <li class="first-list"><a href="{% url 'index' %}">Home</a> </li>
                                <li class="first-list"><a href="{% url 'realapp:ereport' %}">report</a> </li>
                                <li><a href="{% url 'realapp:Events' %}">Events</a></li>
                                <li><a href="{% url 'realapp:gallery' %}">Gallery</a></li>

                                <li class="active"><a href="{% url 'realapp:about' %}">Bookings</a> </li>

                                <li >
                                    <a href="{% url 'realapp:Gen_Expense' %}" >Expenses</a></li>
                                <li><a href="{% url 'realapp:employee' %}">Employees</a></li>
                                <li><a href="{% url 'realapp:contact' %}">Contact</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div>
                </div>
            </div>
            <div class="agileinfo-banner">
                <div class="container">
                    <h2>Bookings</h2><br><br><br>
                </div>
            </div>
        </div>
        <!-- //banner -->

        <!-- about -->
        <div class="booking-top">
            <div class="info">
                <h2 style="text-align:center; color:white;">Booking Contract Form</h2>
            </div>

            <div class="container">
                <div class="booking-info">
                    <h2></h2>

                    <div class="w3layoutscontactagileits">
                        <div class="row">

                            <form method="post" action="{% url 'realapp:add_event' %}">
                                <!--{{ form.as_table }}-->
                              <div class="col-md-6">

                                    <div class="wthreename agileinfow3ls">
                                        <div class="wthreename-lable wthreelable">
                                            <label>Event No</label><span class="colon">:</span>
                                        </div>
                                        <div class="wthreename-input wthreeinput">
                                            <input class="top" type="Number" name="event_no" min="0" placeholder="" required="" value="{{event_no}}">
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>



                                    <div class="wthreename agileinfow3ls">
                                        <div class="wthreename-lable wthreelable">

                                            <label >Name</label><span class="colon">:</span>
                                        </div>
                                        <div class="wthreename-input wthreeinput">
                                            <input class="top" type="text" name="event_cust_name" placeholder="Name" required="" value="{{event_cust_name}}">
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="agileemailinfo agileinfow3ls">
                                        <div class="agileemailinfo-lable wthreelable">
                                            <label>Email</label><span class="colon">:</span>
                                        </div>
                                        <div class="agileemailinfo-input wthreeinput">
                                            <input class="top" type="email" name="event_cust_email" placeholder="Email" value="{{event_cust_email}}">
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="aitsphonew3ls agileinfow3ls">
                                        <div class="aitsphonew3ls-lable wthreelable">
                                            <label>CNIC</label><span class="colon">:</span>
                                        </div>
                                        <div class="aitsphonew3ls-input wthreeinput">
                                            <input style="width:250px" class="agilecode" type="number" title="CNIC (Format: 352XX-9191XXXX-4" name="event_cust_nic" required="" maxlength="10" value="{{event_cust_nic}}">

                                            <h3>And</h3>
                                            <label>Mobile Number</label>
                                            <input class="agileinfomobile" type="number" title="Phone Number (Format: 03XX-111XXXX)" name="event_cust_contactno" required="" value="{{event_cust_contactno}}"><br>

											<label>Mobile Number</label>
                                            <input class="agileinfomobile" type="number" title="Phone Number (Format: 03XX-111XXXX)" name="event_cust_contactno2" required="" value="{{event_cust_contactno2}}">

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="wthreename agileinfow3ls">
                                        <div class="wthreename-lable wthreelable">
                                            <label>Total Guests:</label><span class="colon">:</span>
                                        </div>
                                        <div class="wthreename-input wthreeinput">
                                        <input class="top" type="Number" id="guests" name="event_total_guests" min="0" placeholder="" required="" value="{{event_total_guests}}">

                                        <label class="aitsnumber">Total Expense</label>
                                        <input class="wthreeland" type="number" name="event_total_expense" required="" value="{{event_total_expense}}" disabled>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="aitsphonew3ls agileinfow3ls">
                                        <div class="aitsphonew3ls-lable wthreelable">
                                            <label>Amount Paid</label><span class="colon">:</span>
                                        </div>
                                        <div class="aitsphonew3ls-input wthreeinput">
                                            <input class="agilecode" type="number"  name="event_advance" required="" maxlength="10" value="">
<!---->
                                            <!--<label class="aitsnumber">Payable Amount</label>-->
                                            <!--<input class="wthreeland" type="number" name="event_total_amount" required="" value="{{event_total_amount}}" disabled>-->
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>


                                   <!-- <div class="aitspickupaddress agileinfow3ls">
                                        <div class="aitspickupaddress-lable wthreelable">
                                            <span class="agilepickup-lable">
                                                <label>Payment</label>
                                                <label>Details</label>
                                            </span>
                                            <span class="colon">:</span>
                                        </div>
                                        <div class="aitspickupaddress-input wthreeinput">
                                            <textarea name="event_payment_details" placeholder="Event Payment Details" required="" value="{{event_payments_details}}"></textarea>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>-->
                                </div>

                                <div class="col-md-6">

                                    <div class="agileinfodeparture agileinfow3ls">
                                        <div class="agileinfodeparture-lable wthreelable">
                                            <span class="lable">
                                                <label>Booking</label>
                                                <label>Date</label>
                                            </span>
                                            <span class="colon">:</span>
                                        </div>
                                        <div class="agileinfodeparture-input wthreeinput">
                                            <input  class="date agileits w3layouts" type="text" id="datepicker1" name="event_booking_date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" value="Date" required="">
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                                    <div class="agileinforeturn agileinfow3ls">
                                        <div class="agileinforeturn-lable wthreelable">
                                            <span class="aitsreturn-lable">
                                                <label>Function</label>
                                                <label>Date</label>
                                            </span>
                                            <span class="colon">:</span>
                                        </div>
                                        <div class="agileinforeturn-input wthreeinput">
                                            <input class="date agileits w3layouts" id="datepicker2" name="event_date" type="text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required="" value="{{event_date}}" onclick="myfunction({{my_list}})">
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                                    <div class="w3lsjourneyaits agileinfow3ls">
                                        <div class="w3lsjourneyaits-lable wthreelable">
                                            <span class="aitsjourney-lable">
                                                <label>Hall</label>
                                            </span>
                                            <span class="colon">:</span>
                                        </div>
                                        <div class="w3lsjourneyaits-input wthreeinput">
                                            <select name="event_hall">
                                                <option value="A">A</option>
                                                <option value="B">B</option>
                                            </select>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="w3lsjourneyaits agileinfow3ls">
                                        <div class="w3lsjourneyaits-lable wthreelable">
                                            <span class="aitsjourney-lable">
                                                <label>Time</label>
                                            </span>
                                            <span class="colon">:</span>
                                        </div>
                                        <div class="w3lsjourneyaits-input wthreeinput">
                                            <select name="event_slot" onchange="otherTime(this)">
                                                <option value="14:00:00">14:00:00</option>
                                                <option value="18:00:00">18:00:00</option>
                                                <option value="3" class="othertime">Other</option>
                                            </select>
                                            <input class="agilecode" id="other_time" type="text"  name="other_time">
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="aitsdestinationaddress agileinfow3ls">
                                        <div class="aitsdestinationaddress-lable wthreelable">
                                            <span class="agiledest-lable">
                                                <label>Other</label>
                                                <label>Details</label>
                                            </span>
                                            <span class="colon">:</span>
                                        </div>
                                        <div class="aitsdestinationaddress-input wthreeinput">
                                            <textarea name="event_other_details" placeholder="Details.." required=""></textarea>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="costs">
                                        <a href="#" class="list-group-item active" id="backcolor">Types <span class="pull-right markall">COSTS</span></a>
                                        <!--<form id="cost_form" action="" method="post">-->
                                            <div class="form-group">
                                                <label for="cost_arr" class="pull-left col-sm-6 lab">Cost for Arrangements</label>
                                                <div class="col-sm-3 pull-right">
                                                    <input type="text" id="cost_arr" class="pull-right col-sm-3 " class="cost_i c_arr" value="0000" disabled>

                                                </div>

                                                <div class="clearfix"></div>


                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="form-group">
                                                <label for="cost_menu" class="pull-left col-sm-6 lab">Cost for Menu</label>
                                                <div class="col-sm-3 pull-right">
                                                    <input type="text" id="cost_menu" class="pull-right " class="cost_i" value="0000" disabled>

                                                </div>
                                                <div class="clearfix"></div>

                                            </div>

                                            <div class="form-group">
                                                <label for="adch" class="pull-left col-sm-6 lab">Cost Per Head</label>
                                                <div class="col-sm-3 pull-right">
                                                    <input type="text" id="adch" class="pull-right " class="cost_i" name="additional_cost" value="0000" required="">
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>

                                            <div class="form-group">
                                                <label for="adoc" class="pull-left col-sm-6 lab">Additional Overall Cost</label>
                                                <div class="col-sm-3 pull-right">
                                                    <input type="text" id="adoc" class="pull-right " class="cost_i" name="additional_overall_cost" value="0000">
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>

                                            <div class="form-group">
                                                <label for="disc" class="pull-left col-sm-6 lab">Discount %</label>
                                                <div class="col-sm-3 pull-right">
                                                    <input type="text" id="disc" class="pull-right " class="cost_i" name="discount_percent" value="0%">
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>

                                            <div class="form-group">
                                                <label for="tdisc" class="pull-left col-sm-6 lab">Total Discount</label>
                                                <div class="col-sm-3 pull-right">
                                                    <input type="text" id="tdisc" class="pull-right " class="cost_i" name="total_discount" value="0000">
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="tpa" class="pull-left col-sm-6 lab">Total Payable Amount</label>
                                                <div class="col-sm-3 pull-right">
                                                    <input type="text" id="tpa" class="pull-right " class="cost_i" value="0000" name="payable_amount">
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="form-group">
                                                <div class="aitssubmitw3ls col-sm-3 pull-right" style="margin-right:230px;">
                                                    <button id="btn1" name="calculate" value="CALCULATE" style="margin-bottom:10px;width:150px; height:30px;text-align:center;padding-bottom:25px;" onclick="Calculate3()">CALCULATE</button>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        <!--</form>-->
                                    </div>
                                </div>

                                 <div class="clearfix"> </div>
                                 <div class="heading-border"></div><br>

                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="list-group" id="list1">

                                        <a href="#" class="list-group-item active" id="backcolor">Arrangements<input title="toggle all" type="hidden" class="all pull-right"><span class="pull-right markall"></span></a>
                                        {% for arrange in arrange_list %}
                                        <a href="#" class="list-group-item record">{{arrange.arrange_title}}<input  type="checkbox" class="pull-right arr" name="checkbox[]" value="{{arrange.arrange_id}}" onclick="Calculate()" data-price="{{arrange.arrange_cost}}"></a>
                                         <!--<a href="#" class="list-group-item record">Decors<input type="checkbox" class="pull-right arr "  onclick="Calculate()" data-price="500" ></a>-->
                                        {% endfor %}
                                        {% for i in special_arrangement %}
                                        <div class="anar">{{i.title}}<input type="number" name="quantity"  data="{{i.cost}}" class="pull-right anari" value="00" onclick="cc(this)" style="color:black; border:1px solid black; width:40px; margin-right:4px; height:14px; margin-top:2px;"></div>
                                        {% endfor %}
                                    </div>

                                    <div class="clearfix"> </div>
                                    <div class="heading-border"></div><br>
                                </div>
                                <div class="clearfix"></div>
                                    <div class="col-sm-10 col-sm-offset-1">
                                    <div class="list-group" id="list1">

                                        <a href="#" class="list-group-item active" id="backcolor">Menus<input title="toggle all" type="hidden" class="all pull-right"><span class="pull-right markall"></span></a>
                                        {% for menu in menu_list %}
                                        <a href="#" class="list-group-item record">{{ menu.menu_details }}<input type="radio" class="pull-right menu" onclick="Calculate2()" name="menu_list1[]" value="{{menu.menu_id}}" data-menu="{{menu.menu_cost_perhead}}"></a>
                                        <!--<a href="#" class="list-group-item record">Generator<input type="checkbox" class="pull-right"></a>
                                        <a href="#" class="list-group-item record">Dj<input type="checkbox" class="pull-right"></a>
                                        <a href="#" class="list-group-item record">Decors<input type="checkbox" class="pull-right"></a>-->
                                        {% endfor %}
                                    </div>

                                    <div class="clearfix"> </div>
                                    <div class="heading-border"></div>
                                    </div>

                                <div class="clearfix"></div>


                                <div class="clearfix"></div>

                                <div class="aitssubmitw3ls">
                                    <input type="submit" name="submit" value="SUBMIT">
                                </div>





                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


                                {% if messages %}
                              <ul class="messages">
                                {% for message in messages %}
                                  <li class="{{ message.tags }}">{{ message }}</li>
                                {% endfor %}
                              </ul>
                            {% endif %}

        <!-- footer -->
        <div class="footer-bottom">
            <div class="container">
                <div class="footer_grids">
                    <div class="col-md-4 footer_grid">
                        <h3>About Us</h3>
                        <p>Rafi Banquet Hall is providing catering for your parties and weddings in Lahore , Pakistan. We specialize in weddings, parties, corporate events and much more</p>.
                        <p>Our experienced team is instilled with values of integrity, trust, dedication and most importantly a love for what we do. Let us make your next event everything you dream of and more.</p>
                    </div>

                    <div class="col-md-4 footer_grid">
                        <h3>Contact Info</h3>
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> Clark Abbad Road near Govt.Hospital Kot Radha Kishen <span>Lahore, Pakistan.</span></li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:rafibanquet16@gmail.com">rafibanquet16@gmail.com</a></li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> 042-3854712</li>
                        </ul>
                    </div>
                    <div class="col-md-4 footer_grid footer_grid1">
                        <h3>Navigation</h3>
                        <ul>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="about.html">About</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="blog.html">Blog</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="icons.html">Icons</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="codes.html">Short Codes</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="gallery.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!-- //footer -->

        <!-- copyright -->
        <div class="copyright">
            <div class="container">
                <p>© 2018 Rafi Banquet Hall. All rights reserved | Design by <a href="www.blendcodes.com">BlendCodes Technologies</a></p>
            </div>
        </div>
        <!-- //copyright -->


        <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>

        <!-- Date-Picker-JavaScript -->
        <script src="{% static 'js/jquery-ui.js' %}"></script>

        <!-- //Date-Picker-JavaScript -->

         <script type="text/javascript">

                 $('#msgModal').modal('show');

        </script>
        <!-- //Necessary-JavaScript-Files-&-Links -->
		<script type="text/javascript">
		var d = new Date();

		var datestring =  (d.getMonth()+1) + "/" + d.getDate()  + "/" + d.getFullYear();
		document.getElementById('datepicker1').value = datestring;
		</script>

        <script src="{% static 'js/jarallax.js' %}"></script>
        <script src="{% static 'js/SmoothScroll.min.js' %}"></script>
        <script type="text/javascript">

            /* init Jarallax */
            $('.jarallax').jarallax({
                speed: 0.5,
                imgWidth: 1366,
                imgHeight: 768
            })

        </script>
        <script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>

        <!-- here stars scrolling icon -->
        <script type="text/javascript">
            $(document).ready(function() {
                /*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>
        <button type="button" onclick="myfunction({{my_list}})">Calendar</button>

    </body>
</html>