
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

    <head>
        <title>Rafi Banquet Hall | Gallery </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">



        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'css/gallery.css' %}" type="text/css" media="all" />
        <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">


        <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>

    </head>
<body>



        <div id="Daily_Expenses" class="modal fade" role="dialog"  data-backdrop='static'>
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Daily Expenses</h4>
                    </div>
                    <div class="container">
                        <div class="modal-body">

                            <div class="col-md-7 expense-form">
                                <div class="form-container">
                                    <form action="{% url 'realapp:add_daily_expense' %}" method="post">
										<input type="text" name="date" value="{{expense_date}}" placeholder="Date" required="">
                                        <br><br>
                                         <input type="text" name="expense_title" value="{{expense_title}}" placeholder="Title" required="">
                                        <input type="number" min="0" class="email" name="expense_amount" value="{{expense_amount}}" placeholder="Amount" required=""><div class="clearfix"></div>
                                        <textarea placeholder="Details" name="details" required=""></textarea><div class="clearfix"></div>
										<div class="row">
                                            <div class="col-sm-offset-3 col-sm-4">
                                                <input type="submit" class="btn-block" value="SUBMIT">
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
						<a class="btn btn-default cancel-btn" href="{% url 'realapp:Gen_Expense' %}">View All</a>
                         <button data-toggle="modal" class="btn btn-default cancel-btn"
                           data-dismiss="modal">Cancel </button>
                    </div>
                </div>


            </div>
        </div>

        <!-- //Modal Windows -->


	<!-- banner -->
	<div class="banner-top jarallax">
			<div class="header-top">
				<div class="container">
					<div class="header-top-grids">
						<div class="header-top-left">
							<p><i class="fa fa-volume-control-phone" aria-hidden="true"></i> 042-3854712</p>
						</div>
						<div class="header-top-right">
							<div class="social-grids">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<div class="head">
				<div class="container">
					<div class="navbar-top">
							<div class="navbar-header">
							  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							  </button>
								 <div class="navbar-brand logo ">
									<h1><a href="{% url 'index' %}">Rafi <span>Banquet Hall</span></a></h1>
								</div>

							</div>


							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							 <ul class="nav navbar-nav link-effect-4">

								{% if user.is_authenticated %}
                                <li class="active first-list"><a href="{% url 'index' %}">Home</a> </li>
                                <li class="first-list"><a href="{% url 'realapp:ereport' %}">report</a> </li>
                                <li><a href="{% url 'realapp:gallery' %}">Gallery</a></li>
                                <li><a href="{% url 'realapp:Events' %}">Events</a></li>
                                <!--<li><a href="{% url 'realapp:login1' %}">Login</a></li>li>-->
                                <li><a href="{% url 'realapp:about' %}">Bookings</a> </li>
                                <li >
                                    <a href="{% url 'realapp:Gen_Expense' %}" >Expenses</a></li>
                                <li><a href="{% url 'realapp:employee' %}">Employees</a></li>
                                <li><a href="{% url 'realapp:contact' %}">Contact</a></li>
                                {% else %}
                                <li class="active first-list"><a href="{% url 'index' %}">Home</a> </li>
                                <li><a href="{% url 'realapp:gallery' %}">Gallery</a></li>
                                <li><a href="{% url 'realapp:login1' %}">Login</a></li>li>
                                <li><a href="{% url 'realapp:contact' %}">Contact</a></li>
                                {% endif %}
							</div>
						</div>
				    </div>
			 </div>
			 <div class="agileinfo-banner">
				    <div class="container">
					   <h2>Gallery</h2>
				    </div>
			 </div>
	       </div>
	<!-- //banner -->


	<!-- gallery -->
	<div class="gallery">
			<div class="container" >
				<div id="jzBox" class="jzBox">
					<div id="jzBoxNextBig"></div>
					<div id="jzBoxPrevBig"></div>
					<img src="#" id="jzBoxTargetImg" alt="">
					<div id="jzBoxBottom">
						<div id="jzBoxTitle"></div>
						<div id="jzBoxCounter"></div>
						<span id="jzBoxMoreItems">
							<i class="glyphicon glyphicon-menu-left" id="jzBoxPrev"></i> &nbsp;
							<i class="glyphicon glyphicon-menu-right" id="jzBoxNext"></i> &nbsp;
						</span>
						<i class="glyphicon glyphicon-remove-circle" id="jzBoxClose"></i>
					</div>
				</div>

				<div class="w3ls-gallery-grids">
					<div class="col-md-4 gallery-grid">
						<div class="wpf-demo-4">
							<a href="{% static 'images/g1.jpg' %}" class="jzBoxLink item-hover">
								<img src="{% static 'images/g1.jpg' %}" class="img-responsive" alt=" " />
								<div class="view-caption">
									<p>Click Here</p>
								</div>
							</a>
						</div>
						<div class="wpf-demo-4">
							<a href="{% static 'images/g2.jpg' %}" class="jzBoxLink item-hover">
								<img src="{% static 'images/g2.jpg' %}" alt=" " class="img-responsive" />
								<div class="view-caption">
									<p>Click Here</p>
								</div>
							</a>
						</div>
						<div class="wpf-demo-4">
							<a href="{% static 'images/g3.jpg' %}" class="jzBoxLink item-hover">
								<img src="{% static 'images/g3.jpg' %}" alt=" " class="img-responsive" />
								<div class="view-caption">
									<p>Click Here</p>
								</div>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="wpf-demo-4">
							<a href="{% static 'images/g4.jpg' %}" class="jzBoxLink item-hover">
								<img src="{% static 'images/g4.jpg' %}" style="height:507px;" alt=" " class="img-responsive" />
								<div class="view-caption">
									<p>Click Here</p>
								</div>
							</a>
						</div>
						<div class="wpf-demo-4">
							<a href="{% static 'images/g5.jpg' %}" class="jzBoxLink item-hover">
								<img src="{% static 'images/g5.jpg' %}" alt=" " class="img-responsive" />
								<div class="view-caption">
									<p>Click Here</p>
								</div>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 gallery-grid">
						<div class="wpf-demo-4">
							<a href="{% static 'images/g6.jpg' %}" class="jzBoxLink item-hover">
								<img src="{% static 'images/g6.jpg' %}" alt=" " class="img-responsive" />
								<div class="view-caption">
									<p>Click Here</p>
								</div>
							</a>
						</div>
						<div class="wpf-demo-4">
							<a href="{% static 'images/g7.jpg' %}" class="jzBoxLink item-hover">
								<img src="{% static 'images/g7.jpg' %}" alt=" " class="img-responsive" />
								<div class="view-caption">
									<p>Click Here</p>
								</div>
							</a>
						</div>
						<div class="wpf-demo-4">
							<a href="{% static 'images/g8.jpg' %}" class="jzBoxLink item-hover" >
								<img src="{% static 'images/g8.jpg' %}" alt=" " class="img-responsive" />
								<div class="view-caption">
									<p>Click Here</p>
								</div>
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<script src="js/jzBox.js"></script>
			</div><br><br>
        <div class="heading-border-2"></div>

	</div>


	<!-- //gallery -->



    <!-- footer -->
	<div class="footer-bottom">
		<div class="container">
			<div class="footer_grids">
				<div class="col-md-4 footer_grid">
					<h3>About Us</h3>
					<p>Rafi Banquet Hall is providing catering for your parties and weddings in Lahore , Pakistan. We specialize in weddings, parties, corporate events and much more</p>.
                    <p>Our experienced team is instilled with values of integrity, trust, dedication and most importantly a love for what we do. Let us make your next event everything you dream of and more.</p>
				</div>

				<div class="col-md-4 footer_grid">
					<h3>Contact Info</h3>
					<ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> Clark Abbad Road near Govt.Hospital Kot Radha Kishen <span>Lahore, Pakistan.</span></li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:rafibanquet16@gmail.com">rafibanquet16@gmail.com</a></li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> 042-3854712</li>
                    </ul>
				</div>
				<div class="col-md-4 footer_grid footer_grid1">
					<h3>Navigation</h3>
					<ul>
						<li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="about.html">About</a></li>
						<li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="blog.html">Blog</a></li>
						<li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="icons.html">Icons</a></li>
						<li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="codes.html">Short Codes</a></li>
						<li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //footer -->


    <!-- copyright -->
	<div class="copyright">
            <div class="container">
                <p>© 2018 Rafi Banquet Hall. All rights reserved | Design by <a href="www.blendcodes.com">BlendCodes Technologies</a></p>
            </div>
    </div>
	<!-- //copyright -->




	<script src="{% static 'js/SmoothScroll.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
	<!-- //here ends scrolling icon -->
</body>
</html>