<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Rafi Banquet Hall</title>
    </head>

    <body>
        <h1>Login</h1>

        <form id="login_form" method="post" action="/user_login/">
            Username: <input id="user" type="text" name="username" value="" size="50" />
            <br />
            Password: <input id="pass" type="password" name="password" value="" size="50" />
            <br />

            <input id="butn1" type="submit" value="submit" />
        </form>

    </body>
</html>