
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <title>Salary Sheet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">

        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'css/employee.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'css/ereport.css' %}" type="text/css" media="all" />
        <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">


        <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>

    </head>
    <body>



        <div id="Daily_Expenses" class="modal fade" role="dialog"  data-backdrop='static'>
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Daily Expenses</h4>
                    </div>
                    <div class="container">
                        <div class="modal-body">
                            <div class="col-md-7 expense-form">
                                <div class="form-container">
                                    <form action="{% url 'realapp:add_daily_expense' %}" method="post">
                                        <input type="text" name="date" value="{{expense_date}}" placeholder="Date" required="">
                                        <br><br>
                                        <input type="text" name="expense_title" value="{{expense_title}}" placeholder="Title" required="">
                                        <input type="number" min="0" class="email" name="expense_amount" value="{{expense_amount}}" placeholder="Amount" required=""><div class="clearfix"></div>
                                        <textarea placeholder="Details" name="details" required=""></textarea><div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-sm-offset-3 col-sm-4">
                                                <input type="submit" class="btn-block" value="SUBMIT">
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default cancel-btn" href="{% url 'realapp:Gen_Expense' %}">View All</a>
                        <button data-toggle="modal" class="btn btn-default cancel-btn"
                                data-dismiss="modal">Cancel </button>
                    </div>
                </div>


            </div>
        </div>

       <div id="Salary_Voucher" class="modal fade" role="dialog"  data-backdrop='static'>
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Salary Voucher</h4>
                    </div>
                    <div class="container">
                        <div class="modal-body">

                            <div class="col-md-7 expense-form">
                                <div class="form-container">
                                    <form action="{% url 'realapp:add_salary' %}" method="post">
                                        <div class="row">
                                            <div class="col-sm-6">
                                            <input  type="text"  name="date" placeholder="Date" required="">
                                        </div>
                                        <div class="clearfix"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <select class="form-control" id="inputGroupSelect01" name="emp_id">
                                                    <option selected>Select Employee...</option>
                                                    {% for emp in emp_list %}
                                                    <option name="emp_id" value="{{emp.emp_id}}">{{emp.emp_name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-sm-7">
                                                <input type="number" min="0" class="email form-control" name="salary_amount" value="" placeholder="Amount" required="" style="width:inherit;">
                                            </div>
                                            <div class="clearfix"></div><br>
                                        </div>

                                        <textarea rows="1" cols="2" placeholder="Details" name="details" required="" ></textarea>
                                        <div class="row">
                                            <div class="col-sm-offset-3 col-sm-4">
                                                <input type="submit" class="btn-block" value="SUBMIT">
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-toggle="modal" class="btn btn-default cancel-btn"
                                data-dismiss="modal">Cancel </button>
                    </div>
                </div>


            </div>
        </div>

        <!-- banner -->
        <div class="banner-top jarallax">
            <div class="header-top">
                <div class="container">
                    <div class="header-top-grids">
                        <div class="header-top-left">
                            <p><i class="fa fa-volume-control-phone" aria-hidden="true"></i> 042-3854712</p>
                        </div>
                        <div class="header-top-right">
                            <div class="social-grids">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                </ul>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="head">
                <div class="container">
                    <div class="navbar-top">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-brand logo ">
                                <h1><a href="{% url 'index' %}">Rafi <span>Banquet Hall</span></a></h1>
                            </div>

                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav link-effect-4">
                                <li class="first-list"><a href="{% url 'index' %}">Home</a> </li>
                                <li class="first-list"><a href="{% url 'realapp:ereport' %}">report</a> </li>
                                <li><a href="{% url 'realapp:Events' %}">Events</a></li>
                                <li><a href="{% url 'realapp:gallery' %}">Gallery</a></li>
                                <li><a href="{% url 'realapp:about' %}">Bookings</a> </li>

                                <li >
                                    <a href="{% url 'realapp:Gen_Expense' %}" >Expenses</a></li>
                                <li class="active"><a href="{% url 'realapp:employee' %}">Employees</a></li>
                                <li><a href="{% url 'realapp:contact' %}">Contact</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div>
                </div>
            </div>
            <div class="agileinfo-banner">
                <div class="container">
                    <h2>Employees</h2>
                </div>
            </div>
        </div>
        <!-- //banner -->


        <!-- blog -->
      <div class="blog">
            <div class="heading-grid"><h3 style="color:#999;">Salary Sheet</h3></div> <br>
            <div class="heading-border"></div><br>

            <div class="container">
                <div class="agile-blog-grids">
                    <div class="row">

                        <div class="col-sm-10 col-sm-offset-1" id="sform">

                            <form class="form-inline" action="{% url 'realapp:filter_salary2' %}" method="post">

                                <div class="form-group" style="">
                                    <label for="month">Month</label>
                                    <select name="month" id="month" class="form-control">
                                        <option value="01">January</option>
                                        <option value="02">February</option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">June</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>

                                <div class="clearfix"></div><br>
                            <input class="btn btn-default cancel-btn pull-right" type="submit" name="submit" value="Search">
                            <div class="clearfix"></div>
                            </form>
                            <div class="input-group">
                                <input class="form-control " id="myInput" type="text" placeholder="Search.." style="width:400px;">
                                <div class="input-group-btn pull-left">
                                    <button class="btn btn-default" id="ubtn" style="height:34px;background:#111;" onclick="update()">
                                        <i class="glyphicon glyphicon-search pull-left" style="color:white;"></i>
                                    </button>
                                </div>
                            </div>
                            <br>
                            <form class="form-inline" action="{% url 'realapp:get_table_data' %}" method="post">

                            <div class="table-wrapper-2">

                                <!--Table-->
                                <table class="table table-bordered  table-inverse table-responsive-sm ">
                                    <thead class="thead-inverse ">
                                        <tr>
                                            <th><span class="font">#</span></th>
                                            <th class="col-sm-3 font"><span class="font">NAME</span></th>
                                            <th class="col-sm-1 font"><span class="font">D.O.Appt</span></th>
                                            <th class="col-sm-1 font"><span class="font">Name</span></th>
                                            <th class="col-sm-1 font"><span class="font">Salary</span></th>
                                            <th class="col-sm-1 font"><span class="font">Advance</span></th>
                                            <th class="col-sm-1 font"><span class="font">Net Salary</span></th>
                                            <th class="col-sm-4 font"><span class="font">Remarks</span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                    {% for i in emp_list1 %}
                                        <tr>
                                            <input type="hidden" name="salary_id[]" value="{{i.salary_id}}" style="max-width:70px;">
                                            <th scope="row"><span class="font">{{i.salary_id}}</span></th>
                                            <td><span class="font">{{i.emp_name}}</span>
                                            </td>
                                            <td><span class="font">{{i.salary_month}}</span></td>
                                            <td><span class="font">{{i.emp_name}}</span></td>
                                            <td><span class="font"><input type="text" name="salary[]" value="{{i.emp_salary}}" style="max-width:70px;"></span></td>
                                            <td><span class="font"><input type="text" name="advance[]" value="{{i.advance}}" style="width:70px;"></span></td>
                                            <td><span class="font">{{i.total_salary}}</span></td>
                                            <td><span class="font"><textarea name="remarks[]">{{i.salary_remarks}}</textarea></span></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <!--Table-->

                            </div>
                                <input class="btn btn-default cancel-btn pull-right" type="submit" name="submit" value="Submit">

                            <script>
                                $(document).ready(function(){
                                    $("#myInput").on("keyup", function() {
                                        var value = $(this).val().toLowerCase();
                                        $("#myTable tr").filter(function() {
                                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                        });
                                    });
                                });
                            </script>
                            {% if messages %}
                                {% for message in messages %}
                                 <div class="modal fade" id="msgModal" role="dialog" style="margin-top:100px; color:black;">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content" style="background:white;">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" style="color:black,:hover color:firebrick;">&times;</button>
                                                <h4 class="modal-title">Message:</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>{{message}}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button data-toggle="modal" class="btn btn-default cancel-btn"
                                                        data-dismiss="modal">Close </button>
                                            </div>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

        <script type="text/javascript">

                 $('#msgModal').modal('show');

        </script>


                            <br><div class="clearfix"> </div>
                            <div class="heading-border"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- //blog -->
  <!-- //blog -->



        <!-- footer -->
        <div class="footer-bottom">
            <div class="container">
                <div class="footer_grids">
                    <div class="col-md-4 footer_grid">
                        <h3>About Us</h3>
                        <p>Rafi Banquet Hall is providing catering for your parties and weddings in Lahore , Pakistan. We specialize in weddings, parties, corporate events and much more</p>.
                        <p>Our experienced team is instilled with values of integrity, trust, dedication and most importantly a love for what we do. Let us make your next event everything you dream of and more.</p>
                    </div>

                    <div class="col-md-4 footer_grid">
                        <h3>Contact Info</h3>
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> Clark Abbad Road near Govt.Hospital Kot Radha Kishen <span>Lahore, Pakistan.</span></li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:rafibanquet16@gmail.com">rafibanquet16@gmail.com</a></li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> 042-3854712</li>
                        </ul>
                    </div>
                    <div class="col-md-4 footer_grid footer_grid1">
                        <h3>Navigation</h3>
                        <ul>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="about.html">About</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="blog.html">Blog</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="icons.html">Icons</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="codes.html">Short Codes</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> <a href="gallery.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!-- //footer -->

        <!-- copyright -->
        <div class="copyright">
            <div class="container">
                <p>© 2018 Rafi Banquet Hall. All rights reserved | Design by <a href="www.blendcodes.com">BlendCodes Technologies</a></p>
            </div>
        </div>
        <!-- //copyright -->


        <script src="{% static 'js/SmoothScroll.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/attendance.js' %}"></script>

        <!-- here stars scrolling icon -->
        <script type="text/javascript">
            $(document).ready(function() {
                /*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>
        <!-- //here ends scrolling icon -->
    </body>
</html>